target/
.project
.classpath
.mymetadata
*.prefs
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

.DS_Store
*.iml

.idea/

finished.prop

log_map.bin
bl-1.0-SNAPSHOT.jar
password.properties
